*{
  margin: 0;
  padding: 0;
}
.button{
  text-align: center;
  /* background: linear-gradient(to bottom right, #0582f0, #e20875); */
  background-color: #7454e8;
  border: none;
  padding: 9px 10px 9px 10px;
  color: white;
  transition-duration: .2s;
  cursor: pointer;
}
.button:hover{
  transition-duration: .2s;
  /* background: linear-gradient(to bottom right, #337bbb, #b03e77); */
  background-color: #917ae2;
}

.card {
  padding: 20px;
  width : 30%;
  background-color: white;
  border-radius: 5px;
}